<h1>Welcome to Ember!</h1>
<h3>The beginning of <a href="https://medium.com/peep-stack/building-a-performant-web-app-with-ember-fastboot-and-phoenix-part-1-fa1241654308">this awesome tutorial series</h3>

{{outlet}}
